$base-font: var(--font-roboto);
$heading-font: var(--font-playfair-display);

$p-mb: 16px;
$p-des: 18px;

$h1-mb: 36px;
$h1-des: 45px;

$h2-mb: 26px;
$h2-des: 30px;

$h3-mb: 22px;
$h3-des: 24px;

$main-color: #A84264;
$main-blue: #0672A0;
$bg-blue: rgba(6,114,160, 0.1);